<%= form_with(model: photo, local: true) do |form| %>
  <div class="field">
    <%#= form.label :image %>
    <%= form.hidden_field :image, value: photo.cached_image_data, id: "immaHidden" %>

    <!-- <div class="UppyForm"> I get converted to an Uppy button if Uppy works properly! </div> -->
    <div id="UppyDragDrop-Two"></div>

    <div class="progress" style="width: 300px">
      <div class="progress-bar"></div>
    </div>

    <button class="UppyDragDrop-Two-Upload">Upload</button>

    <%= image_tag @photo.image_url.to_s, width: 300, class: "file-upload-preview", id: "preview-cover-photo" %>

    <%= form.label :title %>
    <%= form.text_field :title %>

    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
